{$TABI_API_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}

	reverse_proxy api:8080 {
		trusted_proxies static private_ranges
		trusted_proxies_strict
		health_uri /health/ready
		health_interval 30s
		health_timeout 5s
	}

}
